<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f4f4f4;
        }
        .otp-container {
            margin-top: 100px;
        }
        .resend-link {
            display: block;
            text-align: center;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container otp-container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Enter OTP</h5>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="otp"></label>
                                <input type="text" id="otp" name="otp" class="form-control" required placeholder="Enter your OTP" maxlength="6">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Verify OTP</button>
                        </form>
                        
                        {% for message in messages %}
                        <div class="alert alert-danger text-center" role="alert">
                                    {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        let remainingTime = parseInt('{{ remaining_time }}', 10);
        const timerElement = document.getElementById('remaining-time');
        const resendOtpContainer = document.getElementById('resend-otp-container');
        const otpTimerDiv = document.getElementById('otp-timer');

        function startTimer() {
            const countdownInterval = setInterval(function() {
                remainingTime--;

                if (remainingTime <= 0) {
                    clearInterval(countdownInterval);
                    otpTimerDiv.style.display = 'none';
                    resendOtpContainer.style.display = 'block';
                } else {
                    timerElement.textContent = remainingTime;
                }
            }, 1000);
        }

        window.onload = startTimer;
</script>
</body>
</html>
